* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 65,8;
}

.head {
    width: 100%;
    height: 50px;
    background-color: aqua;
}

.head-conteiner-tittle {
    text-align: center;
}

